"menu": [
  "label": "Packages"
  "submenu": [
    "label": "NPM"
    "submenu": [
      "label": "Run <script>"
      "command": "npm:run"
    ,
      "label": "Outdated"
      "command": "npm:outdated"
    ,
      "label": "Install Dependencies"
      "command": "npm:install-dependencies"
    ,
      "label": "Update Dependencies"
      "command": "npm:update-dependencies"
    ]
  ]
]
