"menu": [
  "label": "Packages"
  "submenu": [
    "label": "Atom NPM"
    "submenu": [
      "label": "Run"
      "command": "atom-npm:run"
    ,
      "label": "Outdated"
      "command": "atom-npm:outdated"
    ,
      "label": "Install Dependencies"
      "command": "atom-npm:install-dependencies"
    ,
      "label": "Update Dependencies"
      "command": "atom-npm:update-dependencies"
    ]
  ]
]
