".platform-darwin":
  "cmd-alt-n r": "atom-npm:run"
  "cmd-alt-n i": "atom-npm:install-dependencies"
  "cmd-alt-n u": "atom-npm:update-dependencies"
  "cmd-alt-n o": "atom-npm:outdated"

".platform-linux, .platform-win32":
  "ctrl-alt-n r": "atom-npm:run"
  "ctrl-alt-n i": "atom-npm:install-dependencies"
  "ctrl-alt-n u": "atom-npm:update-dependencies"
  "ctrl-alt-n o": "atom-npm:outdated"
