".platform-darwin":
  "cmd-alt-n r": "npm:run"
  "cmd-alt-n i": "npm:install-dependencies"
  "cmd-alt-n u": "npm:update-dependencies"
  "cmd-alt-n o": "npm:outdated"

".platform-linux, .platform-win32":
  "ctrl-alt-n r": "npm:run"
  "ctrl-alt-n i": "npm:install-dependencies"
  "ctrl-alt-n u": "npm:update-dependencies"
  "ctrl-alt-n o": "npm:outdated"
